<p class="search-title-align-center">
    Let's find a license plate
</p>

<div class="kenteken">
    <div class="inset">
        <div class="blue"></div>
        <input type="text" placeholder="K-173-JK" value="K-173-JK" maxlength="8" />
    </div>
</div>

<p class="search-footer-align-center">
    Input design by <a href="https://codepen.io/pgroot91/pen/GRrZRYE">pgroot91</a>.
</p>

@code {
    
}