@using System.ComponentModel.DataAnnotations
@using System.Text.RegularExpressions
@using SV.Techorama.Store.FindKenteken

@inject IDispatcher Dispatcher

<p class="search-title-align-center">
    Let's find a license plate
</p>

<div class="kenteken">
    <div class="inset">
        <div class="blue"></div>
        <input type="text" placeholder="K-173-JK" maxlength="8" @oninput="CheckAndSearch" />
    </div>
</div>

<p class="search-footer-align-center">
    Input design by <a href="https://codepen.io/pgroot91/pen/GRrZRYE">pgroot91</a>.
</p>

@code {

    private void CheckAndSearch(ChangeEventArgs args)
    {
        if (args.Value is null) return;
        
        var licensePlate = args.Value?.ToString();
        var plate = licensePlate?.Replace("-", string.Empty).ToUpper();
        var regex = new Regex("[A-Z0-9]{6}");

        if (plate is {Length: 6 } && regex.IsMatch(plate))
        {
            Dispatcher.Dispatch(new FindKentekenAction(plate));
        }
    }
}