@using Fluxor.Persist.Middleware
@using SV.Techorama.Store.FindKenteken
@inherits Fluxor.Blazor.Web.Components.FluxorLayout

@inject IDispatcher Dispatcher

<PageTitle>Techorama 2022 Demo</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <Alert />
            @Body
        </article>
    </main>
</div>

@code {

    protected override void OnInitialized()
    {
        SubscribeToAction<InitializePersistMiddlewareResultSuccessAction>(result =>
        {
            Console.WriteLine($"**** State rehydrated**");
            Dispatcher.Dispatch(new ReloadKentekenInfoAction());
            StateHasChanged(); // we now have state, we can re-render to reflect binding changes
        });
        
        base.OnInitialized();
    }

}