@using SV.Techorama.Store.FindKenteken

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h2>Car information</h2>
<p>
    <strong>@Brand</strong>
    
</p>

@code {
   
    public string? Brand { get; set; }
    
    protected override void OnInitialized()
    {
        SubscribeToAction<KentekenFoundAction>(result =>
        {
            Brand = result.RdwModel.Brand;
            StateHasChanged();
        });
        
        base.OnInitialized();
    }

}