@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello Techorama!</h1>

<p class="search-title-align-center">
    Let's search a license plate
</p>

<div class="kenteken">
    <div class="inset">
        <div class="blue"></div>
        <input type="text" placeholder="K-173-JK" value="K-173-JK" />
    </div>
</div>